.products-container {
  padding: 50px 0;
}

.products-container h1 {
  font-size: 40px;
  font-weight: 800;
  color: var(--text-primary);
  letter-spacing: -1px;
  text-align: center;
}

.products-container .products-categories {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.products-container .products-categories .category {
  background-color: var(--bg-hover);
  border: 2px solid var(--bg-hover);
  height: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  transition: 0.3s;
}
.products-container .products-categories .category.categorySelected {
  border: 2px solid var(--border-color);
}
.products-container .products-categories .category:hover {
  border: 2px solid var(--border-color);
}

.products-container .products-categories .category h3 {
  margin: 0;
}

.products-container .products-categories .category:nth-child(1) {
  padding-right: 10px;
}
.products-container .products-categories .category:nth-child(1) img {
  width: 55px;
}
.products-container .products-categories .category:nth-child(2) {
  gap: 10px;
  padding: 0 10px;
}
.products-container .products-categories .category:nth-child(2) img {
  width: 25px;
}
.products-container .products-categories .category:nth-child(3) {
  gap: 5px;
  padding: 0 10px;
}
.products-container .products-categories .category:nth-child(3) img {
  width: 40px;
}

@media (max-width: 600px) {
  .products-container .products-categories {
    gap: 10px;
  }
  .products-container .products-categories .category {
    flex-direction: column;
    justify-content: center;
    height: 56px;
    width: 105px;
    padding: 0 3px 5px;
  }
  .products-container .products-categories .category h3 {
    font-size: 15px;
  }
  .products-container .products-categories .category:nth-child(1) {
    gap: 5px;
    padding-right: 0;
  }
  .products-container .products-categories .category:nth-child(2) {
    gap: 5px;
    padding: 0 4px;
  }
  .products-container .products-categories .category:nth-child(3) {
    gap: 2px;
  }
}

/* ----- */

.products-content {
  margin-top: 50px;
}

.products-content .product-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}

.products-content .product-content .item {
  background-color: var(--bg-secondary);
  border: 1px solid var(--border-color);
  border-radius: 16px;
  overflow: hidden;
  position: relative;
}

.products-content .product-content .item .item-content {
  padding: 5px 20px 20px;
}

.stars-rate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.stars-rate > p {
  color: #747474;
  margin: 0;
  font-size: 15px;
}

.stars-rate .rate {
  display: flex;
  align-items: center;
  gap: 5px;
}

.stars-rate .rate span {
  font-size: 18px;
  color: var(--text-primary);
}

.stars-rate .rate .star {
  color: #ffc400;
}

.products-content .product-content .item .item-content .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.products-content .product-content .item .item-content h3 {
  font-size: 27px;
  font-weight: 800;
  color: var(--text-primary);
  letter-spacing: -1px;
  margin: 0;
}

.products-content .product-content .item .item-content p {
  margin: 5px 0 0;
  font-size: 20px;
  font-weight: 400;
  color: var(--text-secondary);
}

.products-content .product-content .item .item-img {
  width: 100%;
  overflow: hidden;
}

.products-content .product-content .item .item-img img {
  width: 100%;
  transition: 0.5s;
}
.products-content .product-content .item:hover .item-img img {
  transform: scale(1.05);
  filter: brightness(0.8) contrast(1.1) saturate(1.2);
}

.products-content .product-content .item .item-btns {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.products-content .product-content .item .item-btns .btn {
  font-size: 25px;
  color: white;
  background-color: var(--text-primary);
  padding: 5px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}
.products-content .product-content .item .item-btns .btn:hover {
  transform: translateY(-2px);
}

.show-all {
  border: none;
  outline: none;
  margin: 10px auto;
  color: var(--text-primary);
  text-decoration: underline;
  display: block;
  cursor: pointer;
  transition: 0.3s;
}
.show-all:hover {
  color: var(--text-secondary);
}

/* ----- */

.product-details {
  margin: 20px auto;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 20px;
}

.product-details .content {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid var(--border-color);
}

.product-details .content * {
  margin: 0;
}

.product-details .details-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-details .details-content h3 {
  margin: 30px 0 10px;
  font-size: 27px;
  font-weight: 800;
  color: var(--text-primary);
  letter-spacing: -1px;
}

.product-details .details-content p {
  margin: 5px 0 0;
  font-size: 25px;
  font-weight: 700;
  color: var(--text-secondary);
}

.product-details .btn {
  margin-top: 20px;
  font-size: 25px;
  color: white;
  background-color: var(--text-primary);
  padding: 5px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}
.product-details .btn:hover {
  transform: translateY(-2px);
}

.product-details .details-description {
  padding: 10px;
  margin-top: 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.product-details .details-btns {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
}

.product-details a {
  border: none;
  outline: none;
  color: var(--text-primary);
  text-decoration: underline;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.product-details a:hover {
  color: var(--text-secondary);
}

.product-details img {
  width: 450px;
  border-radius: 10px;
}

@media (max-width: 750px) {
  .product-details {
    flex-direction: column;
    gap: 0;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    max-width: 350px;
  }
  .product-details .content {
    width: 100%;
    max-width: 330px;
    padding: 20px;
    border-radius: 10px;
    border: none;
  }
  .product-details .details-content h3 {
    margin: 10px 0 0px;
  }
  .product-details img {
    width: 100%;
    max-width: 350px;
    border-radius: 0px;
  }
}
