.infosBar-container {
  position: fixed;
  width: 100%;
  background-color: var(--accent-color);
  color: #fff;
}

.infosBar-container .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.infosBar-container .content .sign {
  display: flex;
  align-items: center;
  gap: 2px;
}

.infosBar-container .content .sign a {
  color: #ffee00;
  transition: 0.3s;
}
.infosBar-container .content .sign a:hover,
.infosBar-container .content .social-media .icon:hover {
  color: #fff;
}

.infosBar-container .content .social-media .icon {
  /* color: #ffee00; */
  font-size: 22px;
  margin-right: 5px;
  transition: 0.3s;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .infosBar-container .content {
    justify-content: space-between;
  }
  .infosBar-container .content .phone-number {
    font-size: 13px;
  }
  .infosBar-container .content .sign {
    font-size: 13px;
  }
  .infosBar-container .content .social-media .icon {
    font-size: 17px;
  }
}

@media (max-width: 700px) {
  .infosBar-container .content {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

  }
  .infosBar-container .content .phone-number {
    font-size: 13px;
  }
  .infosBar-container .content .sign {
    font-size: 13px;
    /* order: 1; */
  }
  .infosBar-container .content .sign > div {
    display: none;
  }
  .infosBar-container .content .social-media .icon {
    font-size: 17px;
  }
}
