:root {
  /* Light theme */
  --accent-color: #00640d;
  --accent-color-hover: #003f08;
  --bg-primary: #f7f7f7;
  --bg-secondary: #fff;
  --bg-hover: #dfdfdf;
  --text-primary: #111;
  --text-secondary: #666;
  --border-color: #c7c7c7;
  --gradient-color-one: #d4d4d4;
  --gradient-color-two: #f5f5f5;
}

.dark {
  /* Dark theme */
  --accent-color: #00640d;
  --accent-color-hover: #003f08;
  --bg-primary: #050505;
  --bg-secondary: #111;
  --bg-hover: #222;
  --text-primary: #ffffff;
  --text-secondary: #bcbfc4;
  --border-color: #373e4b;
  --gradient-color-one: #424242;
  --gradient-color-two: #131313;
}

/* Start Global Rules */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.App {
  min-height: 100vh;
  background-color: var(--bg-primary);
  transition: background-color 0.3s ease;
  overflow: hidden;
}

.dark .App {
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

.App .container {
  font-family: "Oswald", sans-serif;
  position: relative;
}
